<div class="cont">
    <form class="resetPassword" [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm.value)">
        <div class="resetPassword__Username">
            <label for="username">Username</label>
            <input type="text" formControlName="username">
            <p class="errMsg smallerErrMsg"></p>
        </div>
        <div class="resetPassword__Password">
            <label for="password">Enter new Password</label>
            <input type="password" formControlName="password">
            <p class="errMsg smallerErrMsg"></p>
        </div>
        <!-- <p class="logInMsg">{{loggingIn? 'Logging in...' : ''}}</p> -->
        <button type="submit">Reset password</button>
        <!-- <p class="routerP" routerLink="/password-reset">Forgot password?</p> -->
    </form>
</div>
