<div class="cont">
    <form class="resetPassword" [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm.value)">
        <div class="resetPassword__Username">
            <label for="username">Username</label>
            <input type="text" formControlName="username">
            <!-- The question mark after ('username') makes sure that no runtime error is thrown if the username is null -->
            <p class="errMsg smallerErrMsg">
                {{resetForm.get('username')?.invalid && resetForm.get('username')?.touched ? 'Username is required' : ''}}
            </p>
        </div>
        <div class="resetPassword__Password">
            <label for="password">Enter new Password</label>
            <input type="password" formControlName="password">
            <p class="errMsg smallerErrMsg">
                {{resetForm.get('password')?.invalid && resetForm.get('password')?.touched ? 'Password is required' : ''}}
            </p>
        </div>
        <p class="logInMsg" [class.errMsg]="gotError">{{reqWasSent? 'Request sent!' : gotError ? errMsg : ''}}</p>
        <button type="submit" [disabled]="resetForm.invalid">Reset password</button>
    </form>
</div>
