@import '../../../styles/mixins.scss';

.tasks {
    width: 910px;
    min-height: 600px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;

    .tasks__taskContainer {
        @include flexContainer;
        width: 910px;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 10px;
        font-weight: bold;
        font-size: 24px;
        transition: 0.15s ease-in-out;
        padding: 5px;

        .tasks__taskContainer__Deadline {
            @include flexContainer;
            width: 300px;
            height: 40px;
            
            gap: 10px;

            .tasks__taskContainer__Deadline__Date {
                width: 200px;
                height: 40px;
                padding: 10px;
            }

            button {
                @include basicButton;
                // width: auto;
                background-color: rgb(226, 1, 1);
                color: white;
            }

            button::after {
                content: "Delete";
            }
        }

        .tasks__taskContainer__checkBox {
            @include flexContainer;
            flex-direction: row-reverse;
            gap: 10px;

            p {
                width: 560px;
                white-space: normal; // Allows wrapping
                overflow-wrap: break-word; // Breaks long words if they exceed the width
            }

            input {
                width: 20px;
                height: 20px;
            }
        }
    }

    .tasks__taskContainer:hover {
        border: 1px solid;
        cursor: pointer;
    }
}

@media (min-width: 900px) and (max-width: 1198.98px) {
    .tasks {
        width: 880px;

        .tasks__taskContainer {
            width: 880px;

            .tasks__taskContainer__checkBox {
                P {
                    font-size: 18px;
                    width: 530px;
                }
            }
        }
    }
}

@media (min-width: 600px) and (max-width: 898.98px) {
    .tasks {
        width: 570px;

        .tasks__taskContainer {
            width: 570px;
            padding: 0;

            .tasks__taskContainer__Deadline {
                width: 210px;
                height: 40px;
                padding: 10px;

                .tasks__taskContainer__Deadline__Date {
                    width: 170px;
                    height: 40px;
                    padding: 10px;
                    font-size: 11px;
                }

                button {
                    width: 40px;
                }

                button::after {
                    content: "X";
                }
            }

            .tasks__taskContainer__checkBox {
                P {
                    font-size: 18px;
                    width: 320px;
                }
            }
        }
    }
}

// For larger phones
@media (min-width: 400px) and (max-width: 598.98px) {
    .tasks {
        width: 380px;

        .tasks__taskContainer {
            width: 380px;
            @include flexContainer;
            flex-direction: column-reverse;

            .tasks__taskContainer__Deadline {
                width: 380px;
                height: 40px;
                padding: 2px;
                font-size: 10px;

                .tasks__taskContainer__Deadline__Date {
                    width: 340px;
                }

                button {
                    width: 30px;
                }

                button::after {
                    content: "X";
                }

            }

            .tasks__taskContainer__checkBox {
                flex-direction: row;

                P {
                    width: 340px;
                    font-size: 16px;
                }

                input {
                    width: 30px;
                }
            }
        }
    }
}

// For smaller phones
@media (min-width: 280px) and (max-width: 398.98px) {
    .tasks {
        width: 280px;

        .tasks__taskContainer {
            width: 280px;
            @include flexContainer;
            flex-direction: column-reverse;
            padding: 0;

            .tasks__taskContainer__checkBox {
                flex-direction: row;

                P {
                    width: 230px;
                    font-size: 12px;
                }

                input {
                    width: 30px;
                }
            }
                
            .tasks__taskContainer__Deadline {
                width: 280px;
                height: 40px;
                padding: 2px;
                font-size: 10px;

                .tasks__taskContainer__Deadline__Date {
                    width: 230px;
                }

                button {
                    width: 30px;
                }

                button::after {
                    content: "X";
                }

            }
        }
    }
}