@import '../../../styles/mixins.scss';

.tasks {
    width: 700px;
    min-height: 600px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;

    .tasks__taskContainer {
        @include flexContainer;
        width: 700px;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 10px;
        font-weight: bold;
        font-size: 24px;
        transition: 0.15s ease-in-out;
        // padding-left: 5px;
        padding: 5px;

        button {
            @include basicButton;
            // width: auto;
            background-color: rgb(226, 1, 1);
            color: white;
        }

        .tasks__taskContainer__checkBox {
            @include flexContainer;
            flex-direction: row-reverse;
            gap: 10px;

            p {
                width: 560px;
                white-space: normal; // Allows wrapping
                overflow-wrap: break-word; // Breaks long words if they exceed the width
            }

            input {
                width: 20px;
                height: 20px;
            }
        }
    }

    .tasks__taskContainer:hover {
        border: 1px solid;
        cursor: pointer;
    }
}

@media (min-width: 600px) and (max-width: 898.98px) {
    .tasks {
        width: 570px;

        .tasks__taskContainer {
            width: 570px;

            .tasks__taskContainer__checkBox {
                P {
                    font-size: 18px;
                    width: 430px;
                }
            }
        }
    }
}

// For larger phones
@media (min-width: 400px) and (max-width: 598.98px) {
    .tasks {
        width: 380px;

        .tasks__taskContainer {
            width: 380px;

            .tasks__taskContainer__checkBox {
                P {
                    width: 240px;
                    font-size: 16px;
                }
            }
        }
    }
}

// For smaller phones
@media (min-width: 280px) and (max-width: 398.98px) {
    .tasks {
        width: 280px;

        .tasks__taskContainer {
            width: 280px;

        .tasks__taskContainer__checkBox {
                P {
                    width: 160px;
                    font-size: 12px;
                }
            }
            
            button {
                width: 80px;
                font-size: 12px;
                @include flexContainer
            }
        }
    }
}