<div class="cont">
  <form class="signup" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    
    <div class="signup__Username">
      <label for="username">Username</label>
      <input type="text" formControlName="username">
      <p class="errMsg smallerErrMsg">
        {{ username.invalid && username.touched ? usernameError : '' }}
      </p>
    </div>

    <div class="signup__Email">
      <label for="email">Email</label>
      <input type="text" formControlName="email">
      <p class="errMsg smallerErrMsg">
        {{ email.invalid && email.touched ? emailError : '' }}
      </p>
    </div>

    <div class="signup__Password">
      <label for="password">Password</label>
      <input type="password" formControlName="password">
      <p class="errMsg smallerErrMsg">
        {{ password.invalid && password.touched ? passwordError : '' }}
      </p>
    </div>

    <button type="submit" [disabled]="form.invalid">Sign Up</button>
    <p [class.errMsg]="gotError">{{ signingUp ? 'Check your email to finish signing up.' : gotError? errMsg : ''}}</p>
    <p routerLink="/login" class="routerP">Already have an account? Log In</p>

  </form>
</div>
