@import '../../../styles/mixins.scss';

.resetPassword__Password {
        // display: flex;
        // flex-direction: column; 
        @include flexContainerColumn;
        gap: 10px;
        background-color: white;
        box-shadow: 0px 0px 18px 10px rgb(207, 207, 207);
        width: 260px;
        height: 200px;
        padding: 20px;
        
        label {
            justify-self: baseline;
            align-self: baseline;
        }

        input {
            justify-self: baseline;
            align-self: baseline;
            height: 30px;
            border-radius: 8px;
            border: 1px solid rgb(155, 155, 155);
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;
        }

        button {
            @include basicButton;
            width: 100%;
            background-color: rgb(39, 86, 255);
            border-radius: 8px;
            color: white;
        }

        button:hover {
            background-color: rgb(35, 73, 213);
        }

        .smallerErrMsg {
            height: 10px;
            font-size: 12px;
        }
    }