* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

app-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(232, 232, 232);
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgb(248, 247, 247);
}

.html, body {
    height: 100%;
}

.errMsg {
    line-height: 0;
    font-size: 14px;
    height: 40px;
    color: red;
}

// Small paragraph which will display messages like 'Forgot Password?'
.routerP {
    text-decoration: underline;
    cursor: pointer;
}

.routerP:hover {
    text-decoration: none;
}